/* Base colors:
    pink = #FD6D68 or rgb(253,109,104)
    green = #248087 or rgb(36,128,135)
    grey = #717B7D or rgb(113,123,125)
*/
:root {
    /* Creating a variable */
    --my_green: #CBCDAE;
    --my_dark_green: #8A8C57;
}
.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #cccccc;
  opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #cccccc;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
  color: #cccccc;
}
body {
    height: 100%;
    width: 100%;
    padding-top: 57px;
    font-family: 'Latin Modern Mono', 'Courier New', Courier, monospace;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0rem;
}
.myContentContainer{
    /* background-color: red; */
    /* border: 1px solid blue; */
}
.myCol{
    padding-top: 1.0rem;
    padding-bottom: 1.0rem;
    /* border: 1px solid blue; */
}
.myColLine{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid var(--my_green);
}
