/* Base colors:
    pink = #FD6D68 or rgb(253,109,104)
    green = #248087 or rgb(36,128,135)
    grey = #717B7D or rgb(113,123,125)
*/
body {
    height: 100%;
    width: 100%;
    padding-top: 57px;
}
.myContentContainer{
    /* background-color: red; */
    /* border: 1px solid blue; */
}
.myCol{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.myColLine{
    border: 1px solid #717B7D
}
