/* Base colors:
    pink = #FD6D68 or rgb(253,109,104)
    green = #248087 or rgb(36,128,135)
    grey = #717B7D or rgb(113,123,125)
*/
h1, h2, h3, h4, h5, h6 {
  margin-top: 0.5rem;
}
.myFrame{
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid var(--my_green);
}
.myImg{
    border: 1px solid var(--my_green);
}
#myMapContainer{
    /* background-color: red; */
    /* border: 3px solid red; */
    /* height: 89vh; */
    /* margin-top: 10vh; */
}
#myMapRow{
    /* height: 81vh; */
    /* border: 3px solid green; */
}
.myMapCol{
    /* border: 3px solid green; */
}
/* #mapImg{
    width: 100%;
    border: 1px solid black;
    border-radius: 17px;
} */
